.nav-1{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;

}
.nav-buttons{
    border: 2px solid #343a40 !important;
    border-radius: 40px;
}
.navbar-brand{
    color: white !important;
    background-color: pink !important;
    border: 2px solid white !important;
    border-radius: 40px !important;
    font-size: 34px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.nav-link, .sb-link{
    color: #343a40 !important;
    font-weight: bold !important;
}
.sb-link{
    height: 50px !important;
    font-size: 26 !important;
}

.nav-link:hover
{
    color: pink !important;
}
.phone-nav, .phone-nav-item{
    visibility: hidden !important;
}
.menu-toggler, .burger{
    display: none !important;
}

.sidebar{
    display: none;
    transition: none;
}

/*tablet version*/
@media (max-width: 991px) /*and (min-width: 701)*/{
    .nav-1{
        background-color: pink !important;
    }
    .navbar-brand{
        border: none !important;
        font-size: 32px !important;
    }
    .nav-link
    {
        display: none !important;
    }
    .menu-toggler, .burger{
        display: block !important;
        font-size: 20px !important;
    }

    .sidebar{
        position: absolute;
        display: inline-flex;
        width: 35% !important;
        height: 100% !important;
        background-color: white !important;
        padding: 10px !important;
        box-shadow: 0 0 500px rgba(0, 0, 0, 0.5) !important;
    }
    .sidebar-icon{
        color: #343a40;
    }
}            
/*Phone version*/
@media (max-width: 700px){
    .nav-1{
        background-color: pink !important;
    }
    .navbar-brand{
        border: none !important;
        font-size: 30px !important;
    }
    .nav-link
    {
        display: none !important;
    }
    .lang-dropdown{
        display: block !important;
    }
    .lang{
        margin-left: 5px !important;
        padding-left: 5px !important;
        border-left: 2px solid gray;
    }
    .lang-dropdown:hover{
        color: white !important;

    }
    .menu-toggler, .burger{
        display: block  !important;
        font-size: 20px !important;
    }
    .phone-nav
    {
        visibility: visible !important;
        width: 100% !important;
        height: 56px !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
        background-color: #ffffff !important;
    }
    .phone-nav-item
    {
        visibility: visible !important;
        color: #343a40 !important;
        display: flex !important;
        font-size: 25px !important;

    }
    .btn.focus, .btn:focus {
    }
    .sidebar{
        position: absolute;
        display: inline-flex;
        width: 35% !important;
        height: 100% !important;
        background-color: white !important;
        padding: 10px !important;
        box-shadow: 0 0 500px rgba(0, 0, 0, 0.5) !important;
    }
    .sidebar-icon{
        display: none !important;
        visibility: hidden !important;
    }

}