{% extends 'layout.html' %}

{% block title %}
تغيير كلمة المرور
{% endblock %}

{% block head %}
<link rel=stylesheet href=static/style/info.css>
<script defer src=/static/script/change_password.js></script>
{% endblock %}

{% block main %}
<!----------------------spechial content------------------------>
<br>
<br>
<form id="form" method=post>
	<div class="form-group">

        <h4>البريد الإلكتروني</h4>

        <input readonly size="30" type="email" autocomplete=on  class="form-control filed" autofocus value="{{email}}">

        <br>
        <br>

        <h4>كلمة السر الجديدة</h4>

        <input onkeyup="password_strength()" size="30" name="password" id="password" type="password" autocomplete="off" class="form-control filed" placeholder="كلمة السر الجديدة ">

        <h6 id="strength"></h6>

        <p id="err_password"></p>

        <!-- <input size="30" name="repassword" id="repassword" type="password"  autocomplete="off" class="form-control filed" placeholder="كلمة السر الجديدة (مرة اخرى)">

        <p id="err_repassword"></p> -->

        <br>
        <input type="hidden" name="token" value="{{token}}">
        <button class="btn btn-dark log">تأكيد</button>
	</div>
</form>
<!------------x---------spechial content------------x----------->
{% endblock %}