{% extends'layout.html' %}

{% block title %}
    الرئيسية
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<meta name="google-site-verification" content="unZ29y9x2Ze3q8lynu0YOFMPlJwqA1xxjA3LAhvf0ZY" />
{% endblock %}

{% block main %}
<!----------------------spechial content------------------------>
<br>
<br>
<center>
<h3 style="color: rgb(219, 143, 155);">!أسرة بارتي تايم ترحب بكم</h3>
<p style="display: none;">{{dt}}</p>
<br>
<a href="/menu"><button class="btn btn-outline-dark">للطلب إضغط هنا</button></a>
</center>
<!-----------x-----------spechial content-----------x----------->
{% endblock %}